---
---

@import "{{ site.theme }}";

.tipMsg{
	font-family:微软雅黑;
	font-size:20px;
	color:red;
}

.title_{
	font-family: 微软雅黑;
	font-size: 35px;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	height: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.cls_{
	clear:both;
}

.comments_info{
	margin-top: 50px;
}